<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ourStory</title>

    <meta name="author" content="ourStory">
    <link rel="canonical" href="https://itisforyouu.herokuapp.com/" />
    <meta name="robots" content="index, follow">
    <meta name="title" content="ourStory">
    <meta name="description" content="우리들의 소중한 추억을 남기자"> 
    <meta name="keywords" content="커플,계획,추억">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ourStory" />
    <meta property="og:description" content="우리들의 소중한 추억을 남기자" />
    <meta property="og:site_name" content="ourStory">
   


    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script> 


    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

</head>
<body class="bg-slate-400">

    <div class="bg-slate-400 py-10 px-4 flex flex-col h-full space-y-5 mt-5" id="bg">


        <div class="bg-white w-full text-base font-medium py-3 px-3 fixed text-gray-700 border-b z-10 top-0 left-0 justify-center flex items-center" id="flexChange">
            <span class="cursor-pointer absolute left-5 top-3 text-2xl"><a href="/"><i class="fa-solid fa-arrow-left"></i></a></span>
            <span class="text-sky-500 dark:text-sky-400 font-bold"></span>
            <span class="text-sky-500 dark:text-sky-400 font-bold">추억을 남겨주세요! <i style="font-size: 15px !important;" class="fa-solid fa-hand-holding-heart"></i></span>
        </div>

        <div class="bg-white p-5 rounded-2xl shadow-xl">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="../img/img.jpg" alt="" class="w-full"></div>
                </div>
              </div>
        </div>  

        <div class="bg-white p-5 rounded-2xl shadow-xl">
            <div class="w-full outline-none border-2 p-3 border-slate-400 rounded-sm"></div>
        </div>

        <div class="bg-white p-5 rounded-2xl shadow-xl">
            <div class="w-full outline-none border-2 p-3 border-slate-400 rounded-sm"></div>
        </div>

        <div class="shadow-xl flex justify-between items-center">
            <div class="w-2/4 bg-slate-100 p-4 text-left rounded-l-lg">
                <a href="#"><i class="fa-solid fa-angle-left"></i><span class="p-2">이전글</span></a>
            </div>
            <div class="w-2/4 text-right p-4 rounded-r-lg" style="background-color: #ccc">
                <a href="#"><span class="p-2">다음글</span><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="fixed bottom-10 right-6 shadow-xl bg-slate-400 p-3 w-14 h-14 flex justify-center items-center z-10 rounded-full text-white transition-colors hover:bg-slate-500">
        <a href="/story/insert" class="cursor-pointer"><i class="fa fa-plus" style="font-size: 24px;" ></i></a>
    </div>

</body>
</html>